# .gitignore

# ignore built files
*.pyc
*.egg-info
__pycache__/

# ignore IDE files
.idea/
.vscode/

# ignore build artifacts
build/
dist/

# ignore virtualenv
venv/

# ignore node_modules
node_modules/

# ignore docker stuff
docker-compose.yml
docker/

# ignore other stuff
Thumbs.db
ehthumbs.db
.DS_Store
.cache
*.swp
*.swo